.character-view-fullscreen {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}

.character-canvas {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-canvas > .live2d-character {
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .character-view-fullscreen {
    flex-direction: column;
    padding: 0;
    min-height: calc(100vh - var(--nav-height));
  }

  .character-canvas {
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
  }
}
